<!DOCTYPE HTML PUBLIC>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{ titolo }}</title>

    <meta property="og:site_name" content="{{ sito_nome }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:title" content="{{ titolo }}">
    <meta property="og:type" content="video">
    <meta property="og:image" content="{{ immagine }}">

    <meta property="og:description" content="{{ descrizione }}">

    <meta property="og:video" content="http://www.youtube.com/v/{{ videoid }}?version=3&amp;autohide=1">
    <meta property="og:video:type" content="application/x-shockwave-flash">
    <meta property="og:video:width" content="640">
    <meta property="og:video:height" content="360">

    <meta property="fb:admins" content="{{ fb_admin_id }}" />

    <link rel="stylesheet" href="stylesheets/app.css" media="Screen" type="text/css" />

    <style type="text/css">
    </style>

  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ fb_app_id }}";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="container">

      <div class="contenitore-video">
        <iframe width="640" height="360" src="//www.youtube.com/embed/{{ videoid }}" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="informazioni">
        <h1>{{ titolo }}</h1>
        <ul>
          <li>{{ url }}</li>
          <li>{{ url_assoluto }}</li>
          <li>{{ descrizione }}</li>
        </ul>
      </div>

      <fb:like href="{{ url_assoluto }}" send="false" width="450" show_faces="true"></fb:like>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>